.bgcolor {
    background-color: #1e1d31;
}
.green-color {
    color: #30cd8a;
}
.white-color {
    color: #fff;
}
.h1-style {
    font-family: 'pacifico';
    font-size: 23px;
    font-weight: 400;
    color: #e34e67;
}
.button-green {
    color: #fff;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #30cd8a;
    border: 1px solid #30cd8a;
    border-radius: 8px;
    padding: 10px 20px;
}
.button-green:hover {
    color: #30cd8a;
    background-color: #fff;
    border: 1px solid #30cd8a;
    cursor: pointer;
}
.button-white {
    color: #30cd8a;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #30cd8a;
    border-radius: 8px;
    padding: 10px 20px;
}
.button-white:hover {
    color: #fff;
    background-color: #30cd8a;
    border: 1px solid #30cd8a;
    cursor: pointer;
}
.button-white-bg {
    color: #30cd8a;
    font-family: 'Open Sans';
    font-size: 16px;
    background-color: #1e1d31;
    border: 1px solid #30cd8a;
    border-radius: 8px;
    padding: 10px 20px;
}
.button-white-bg:hover {
    color: #1e1d31;
    background-color: #30cd8a;
    border: 1px solid #30cd8a;
    cursor: pointer;
}
.block-element {
    max-width: 650px;
    margin: auto;
    text-align: center;
}
.block-element h2 {
    margin-top: -14px;
    margin-bottom: 20px;
}